body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 1px solid #000;
    background-color: #fff;
    overflow: hidden;
}

/* Delikatne linie siatki heksagonalnej */
.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction with the grid */
}

.circle {
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #3498db;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #000;
    cursor: pointer;
    touch-action: none;
}
